/* Основные стили для контейнера */
body {
    font-family: Arial, sans-serif;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}

h1 {
    color: #333;
}

/* Стили для выпадающего списка выбора сотрудника */
label {
    font-weight: bold;
    margin-right: 10px;
}

#workerSelect {
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ddd;
    font-size: 16px;
    margin-bottom: 20px;
}

/* Стили для таблицы */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: center;
}

th {
    background-color: #f2f2f2;
    font-weight: bold;
}

td {
    background-color: #f9f9f9;
}

input[type="checkbox"] {
    transform: scale(1.5);
}

/* Стили для кнопки подтверждения */
#confirmButton {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 18px;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#confirmButton:hover {
    background-color: #45a049;
}
